<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS.Properties.Settings.POSConnectionString" connectionString="Data Source=DESKTOP-SN7N88F;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=Tomas1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>